<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Boardgame</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../Styles/global.css"/>
        <script type="text/javascript" src="../JS/Pokemon.js"></script>
        <script type="text/javascript" src="../JS/BoardGame.js"></script>
        <script type="text/javascript" src="../JS/global.js"></script>
    </head>
    <body>
        <div id="game">
            <canvas id="canvas"></canvas>

            <div id="details">
                <div>
                    <div>
                        <img />

                        <strong></strong>
                    </div>

                    <div>
                        <ul class="statistics">
                            <li class="hp"><b>HP</b><text></text></li>
                            <li class="speed"><b>Speed</b> <text></text></li>
                            <li class="def"><b>Def</b> <text></text></li>
                            <li class="att"><b>Att</b> <text></text></li>
                            <li class="spedef"><b>Spe Def</b> <text></text></li>
                            <li class="speatt"><b>Spe Att</b> <text></text></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <ul class="moves">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>