<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Boardgame</title>
        <link rel="stylesheet" type="text/css" href="../Styles/global.css">
        <script style="text/javascript" src="../JS/Pokemon.js"></script>
        <script style="text/javascript" src="../JS/global.js"></script>
    </head>
    <body>
        <div id="game">
            <table></table>

            <div id="details">
                <img />
                <strong></strong>
                <p></p>
            </div>
        </div>
    </body>
</html>